*{
     margin: 0 auto;
     padding: 0;
     box-sizing: border-box;
}

.__carousel{
     position: absolute;
     top: 62px;
}
.__carousel_img_1{
     width: 100%;
     height: 50vh;
     background-image: url("../img/insert-photo.png");
     background-size: cover;
     background-position: center;
}

.__carousel_img_2{
     width: 100%;
     height: 50vh;
     background-image: url("../img/insert-photo.png");
     background-size: cover;
     background-position: center;
}

.__carousel_img_3{
     width: 100%;
     height: 50vh;
     background-image: url("../img/insert-photo.png");
     background-size: cover;
     background-position: center;
}